@model List<Product>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Başarılı!</strong> @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>HATA!</strong> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row" style="margin: 2% 0%;">
    <div class="col-lg-6 col-md-6 col-12" style="padding: 0;">
        <div class="table-title">
            <h3>
                Ürünler
            </h3>
        </div>

        <div class="dropdown kat">
            <div class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ürün Kategorileri
            </div>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/Product/ProductList">Tüm Ürünler</a></li>
                @foreach (var category in (List<Category>)ViewBag.Categories)
                {
                    <li><a class="dropdown-item" href="/Product/ProductList/@category.Id">@category.Name</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-12 ekleme">

        <div class="search">
            <input type="text" class="searchTerm" id="search" placeholder="Arama Yapın" onkeyup="searchWord()">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>


<table class="table-fill normal-tablo">
    <thead>
        <tr>
            <th class="text-left">QR Code</th>
            <th class="text-left">Görsel</th>
            <th class="text-left">Ürün Kodu</th>
            <th class="text-left">Ürün Adı</th>
            <th class="text-left">Stok Mikratı</th>
            <th class="text-left">Birim</th>
            <th class="text-left">Ürün Alış Fiyatı</th>
            <th class="text-left">Ürün Satış Fiyatı</th>
            <th class="text-left">Ürün Kısa Açıklama</th>
            <th class="text-left">Ürün Sil</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        @*PartialView - Search*@
        @foreach (var product in Model.Where(x => x.IsActive))
        {
            <tr>
                <td class="text-left">
                    @if (product.QRCode != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(product.QRCode)" alt="QR Code" />
                    }
                </td>
                <td class="text-center">
                    @if (product.ProductImages.Count() > 0)
                    {
                        <div class="icon-container">
                            <div class="icon">
                                <i class="fas fa-images" style="font-size:40px;"></i>
                            </div>
                            <div class="image-hover">
                                @foreach (var image in product.ProductImages.Take(1))
                                {
                                    <img src="@Jobs.ImageRoute@product.CompanyId/@image.Url" alt="">
                                }
                            </div>
                        </div>
                    }
                </td>
                <td class="text-left">@product.Code</td>
                <td class="text-left">@product.Name</td>
                <td class="text-left">@product.Stock</td>
                <td class="text-left">@product.Unit</td>
                @if (product.Currency == "tl")
                {
                <td class="text-left">@product.BuyPrice?.ToString("C",new System.Globalization.CultureInfo("tr-TR"))</td>
                <td class="text-left">@product.SellPrice?.ToString("C",new System.Globalization.CultureInfo("tr-TR"))</td>
                }else if (product.Currency == "usd")
                {
                    <td class="text-left">$@product.BuyPrice?.ToString("N2",new System.Globalization.CultureInfo("tr-TR"))</td>
                    <td class="text-left">$@product.SellPrice?.ToString("N2",new System.Globalization.CultureInfo("tr-TR"))</td>
                }else if (product.Currency == "eu")
                {
                    <td class="text-left">€@product.BuyPrice?.ToString("N2",new System.Globalization.CultureInfo("tr-TR"))</td>
                    <td class="text-left">€@product.SellPrice?.ToString("N2",new System.Globalization.CultureInfo("tr-TR"))</td>
                }
                else if (product.Currency == "gbp")
                {
                    <td class="text-left">£@product.BuyPrice?.ToString("N2",new System.Globalization.CultureInfo("tr-TR"))</td>
                    <td class="text-left">£@product.SellPrice?.ToString("N2",new System.Globalization.CultureInfo("tr-TR"))</td>
                }
                <td class="text-left">
                    @product.Detail
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-success" asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@product.Id"><i class="fas fa-pen" style="padding-right: 6%;"></i></a>
                    <a class="btn btn-outline-danger" onclick="deleteProduct('@product.Id')"><i class="fas fa-times"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table-fill mobile-tablo">
    <thead>
        <tr>
            <th class="text-left">Ürün Kodu</th>
            <th class="text-left">Ürün Adı</th>
            <th class="text-left">Detay</th>
            <th class="text-left">Ürün Sil</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        @*PartialView - Search*@
        @foreach (var product in Model.Where(x => x.IsActive))
        {
            <tr>
                <td class="text-left">@product.Code</td>
                <td class="text-left">@product.Name</td>
                <td class="text-center">
                    <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.Id">
                        <i class="fas fa-info-circle" style="font-size: 25px; color: #FF5722;"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-success" asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@product.Id"><i class="fas fa-pen" style="padding-right: 6%;"></i></a>
                    <a class="btn btn-outline-danger" onclick="deleteProduct('@product.Id')"><i class="fas fa-times"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>


@*Ürün Arama*@
<script>
    function searchWord() {
        let searchVal = $('#search').val();
        console.log(searchVal);
        if (searchVal.trim() === "") {
            window.location.href = '/Product/ProductList';
        } else {
            $.ajax({
                type: 'POST',
                url: '/Product/Search',
                data: { searchWord: searchVal },
                success: function (result) {
                    let table = $('.table-hover').html(result);
                }
            });
        }
    }
</script>

@*Ürün silme işlemi*@
<script>
    function deleteProduct(id) {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            text: "İlgili ürün kalıcı olarak silinecek!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, sil!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '/Product/DeleteProduct',
                    data: { id: id },
                    success: function (res) {
                        console.log(res.status);
                        if (res.status == 200) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Başarıyla Silindi',
                                confirmButtonText: 'Tamam',
                            }).then(function () {
                                location.href = "";
                            });
                        } else {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Oops...',
                                text: res.message
                            });
                        }
                    }
                });

            }
        });
    }
</script>